%h2< Welcome!

%p<
  %strong= mail_to @invitator.email, @invitator.full_name
  has invited you to&nbsp;
  %strong>= @game.name
  \.
  Click the button to join:

%br
%p
  = link_to "Join #{@game.name}", @acceptation_url, class: "btn-primary"

%br
%p Or copy the URL below into the address bar of your favourite web browser:
%p
  %a{href: @acceptation_url}= @acceptation_url

%br
%p This link was made for you - please do not share.
