-# FIXME: This is a terrible solution because of the way routes are structured and this partial reuse :/
- form_url    = @invitation.persisted? ? game_access_invitation_path(@game, @invitation) : game_access_invitations_path(@game)
- form_method = @invitation.persisted? ? :patch : :post

= simple_form_for @invitation, as: :game_access_invitation, url: form_url, remote: true, method: form_method do |f|
  - policy(@invitation).tap do |inv_policy|
    = display_base_error f.object

    .row
      .col
        = f.input :open, as: :toggle_boolean, input_html: { disabled: !inv_policy.can_change?(:open) }
        - if @invitation.persisted?
          = f.input :active, as: :toggle_boolean, input_html: { disabled: !inv_policy.can_change?(:active) }

      .col
        = f.input :roles,
          collection: GameAccess::Invitation::ROLES,
          label_method: ->(role) { role.humanize(capitalize: false) },
          input_html: { disabled: !inv_policy.can_change?(:roles) }

    = f.input :invited_emails, input_html: { rows: 5, disabled: !inv_policy.can_change?(:invited_emails) }
