.modal.invitation_modal(data-controller="modal-focus" role="dialog" tabindex="-1"){ class: modal_class, id: dom_id(@invitation, :form_modal) }
  = render partial: "game_access/invitations/modal_dialog"
