.row-header
  .ml-auto.align-self-center
    - if policy(GameAccess::Invitation.new(game: @game)).new?
      = link_to_new new_game_access_invitation_path(@game), remote: true, class: 'btn btn-success'

.row

- if @invitations.blank?
  %p.lead= t('.no_invitations')

- else
  %table#game_access_invitations.table
    %thead
      %tr
        %th Creator
        %th Roles
        %th Invited
        %th Open?
        %th Active?
        %th.actions

    %tbody
      - @invitations.each do |invitation, creator=invitation.creator|
        %tr[invitation]
          %td.text-nowrap
            = image_tag(creator.avatar_url, size: "24x24")
            = mail_to creator.email, creator.full_name
          %td
            - invitation.roles.each do |role|
              %span{class: role_badge_class(role)}= role.humanize(capitalize: false)
          %td
            - if policy(invitation).show?
              = link_to game_access_invitation_path(@game, invitation), data: { remote: true } do
                %strong= invitation.invited_emails_array.size
                invited,
                %strong= invitation.acceptations.count
                accepted
              %button.btn.btn-just-icon.btn-info.btn-sm.m-0(type="button" data-controller="system-clipboard" data-target="system-clipboard.trigger"){ "data-system-clipboard-text" => accept_game_access_invitation_url(invitation.token), "data-system-clipboard-success-text" => t('.clipboard.success_text'), "data-system-clipboard-failed-text" => t('.clipboard.failed_text') }
                %i.material-icons content_copy
            - else
              %strong= invitation.invited_emails_array.size
              invited,
              %strong= invitation.acceptations.count
              accepted

          %td= boolean_icon(invitation.open?)
          %td= boolean_icon(invitation.active?)
          %td.actions
            - if policy(invitation).edit?
              = link_to edit_game_access_invitation_path(@game, invitation), class: 'dropdown-item', data: { remote: true } do
                %i.material-icons edit
                = t('actions.edit')