.modal-dialog.modal-md(role="document")
  .modal-content
    .modal-header
      %h4.modal-title
        Invitation
      %button.close(type="button" data-dismiss="modal" aria-label="Close")
        %span(aria-hidden="true") &times;

    .modal-body
      = render partial: "game_access/invitations/form"

    .modal-footer
      %button.btn.btn-success(type="submit")
        %i.material-icons save
        Save
      &nbsp;
      %button.btn.btn-default(data-dismiss="modal") Cancel
