<%- if @redirect_url.present? -%>
  $("#<%= dom_id(@invitation, :form_modal) %>").remove();
  Turbolinks.visit("<%= @redirect_url %>", {"action":"replace"});
<%- else %>
  $("#<%= dom_id(@invitation, :form_modal) %> .modal-dialog").replaceWith("<%= js_render('game_access/invitations/modal_dialog') %>");
<%- end %>
