$("#<%= dom_id(@invitation, :form_modal) %>").remove();
$("body").append("<%= escape_javascript(render('game_access/invitations/form_modal')) %>");
$("#<%= dom_id(@invitation, :form_modal) %>").modal("show");
